/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: Garamond, Arial, serif !default;

// colors
$body-bg: #eaebff !default;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: Garamond, Arial, serif !default;
$presentation-heading-color: #383d3d !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 10px 0 0 0;
  color: #000;
  font-family: Garamond, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.37em !important; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }